<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        {{! <link href="/css/about.css" rel="stylesheet"> }}
<link href="/css/dashboard.css" rel="stylesheet">
</head>
{{> header}}
<body>
    <main class="main-content">
    {{> sidebar}}
            <div class="content">
            {{> settings}}

        <a href="student_views/student_dashboard" class="btn btn-primary">Save settings</a>
        <a href="student_views/student_dashboard" class="btn btn-danger">Cancel</a>
            
        </div>
        <!-- Your dynamic content goes here -->
    </main>
</body>
{{> footer}}
