
    <!-- Header -->
    <header class="bg-purple fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <span class="logo-text text-black font-weight-bold">Menta</span>
    </div>
</header>