<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="background-color: black;">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                <div class="card text-white bg-dark">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Sign In</h2>
                        <form method="POST" action="/login">
                            <div class="form-group">
                                <label for="username">User Name:</label>
                                <input type="text" id="username" name="username" placeholder="Enter username" required
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="password" placeholder="Enter password" required
                                    class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Sign In
                            </button>
                        </form>
                        <p class="mt-4 text-center">
                            Don't have an account?
                            register
                            <a href="/register" class="text-light">
                                 here
                            </a>.
                        </p>

                        <p class="mt-4 text-center">
                        Demo credentials:
                        </p>
                        <p class="mt-4 text-center">
                        <ul>
                        <li>Username: newUser</li>
                        <li>Password: newPassword</li>
                        </ul>
                        </p>
                        <p class="mt-4 text-center">
                        
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
