<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Deadline</th>
            <th>Venue</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Software Development Internship at ABC Corp</td>
            <td>Employment</td>
            <td>2023-12-31</td>
            <td>Remote</td>
        </tr>
        <tr>
            <td>Business Analyst at XYZ Solutions</td>
            <td>Entrepreneurship</td>
            <td>2023-11-15</td>
            <td>In Person</td>
        </tr>
        <tr>
            <td>Master's in Computer Science at University of ABC</td>
            <td>Grad School</td>
            <td>2024-01-10</td>
            <td>Remote</td>
        </tr>
        <tr>
            <td>Web Development Bootcamp at DEF Academy</td>
            <td>Training</td>
            <td>2023-10-20</td>
            <td>In Person</td>
        </tr>
        <tr>
            <td>Data Science Fellowship at GHI Institute</td>
            <td>Fellowship</td>
            <td>2023-12-31</td>
            <td>Remote</td>
        </tr>
        <tr>
            <td>Marketing Internship at JKL Corp</td>
            <td>Employment</td>
            <td>2023-11-15</td>
            <td>Remote</td>
        </tr>
        <tr>
            <td>Artificial Intelligence Research Fellowship at MNO Institute</td>
            <td>Fellowship</td>
            <td>2024-01-10</td>
            <td>Remote</td>
        </tr>
        <tr>
            <td>Public Speaking Workshop at PQR Academy</td>
            <td>Training</td>
            <td>2023-10-20</td>
            <td>In Person</td>
        </tr>
        <tr>
            <td>Entrepreneurship Bootcamp at STU Institute</td>
            <td>Entrepreneurship</td>
            <td>2023-12-31</td>
            <td>Remote</td>
        </tr>
        <tr>
            <td>Data Analyst Position at VWX Solutions</td>
            <td>Employment</td>
            <td>2023-11-15</td>
            <td>In Person</td>
        </tr>
    </tbody>
</table>
