<aside class="bg-purple sidebar">
    <ul class="sidebar-menu list-unstyled text-white">
        <li><a href="/student_sessions">All Sessions</a></li>
        <li><a href="/added_sessions">My Sessions</a></li>
        <li><a href="/student_goals">Goals</a></li>
        <li>Reports</li>
        <li>Opportunity Board</li>
        <li>Settings</li>
        <li>My Profile</li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</aside>
