<aside class="bg-purple sidebar">
    <ul class="sidebar-menu list-unstyled text-white">
        <li>All Sessions</li>
        <li>My Sessions</li>
        <li>Reports</li>
        <li>Opportunity Board</li>
        <li>Settings</li>
        <li>My Profile</li>
        <li>Sign Out</li>
    </ul>
</aside>
