<aside class="bg-purple sidebar">
    <ul class="sidebar-menu list-unstyled text-white">
        <li><a href="/admin_sessions">Sessions</a></li>
        <li><a href="/admin_students">Students</a></li>
        <li><a href="/admin_mentors">Mentors</a></li>
        <li><a href="/admin_report">Report</a></li>
        <li><a href="/admin_settings">Settings</a></li>
        <li><a href="/admin_profile">Your Profile</a></li>
        <li><a href="/admin_opportunity">Opportunity Board</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</aside>
