<aside class="bg-purple sidebar">
    <ul class="sidebar-menu list-unstyled text-white">
        <li><a href="/admin_sessions">Sessions</a></li>
        <li><a href="/admin_students">Students</a></li>
        <li>Mentors</li>
        <li>Reports</li>
        <li>Opportunity Board</li>
        <li>Settings</li>
        <li>My Profile</li>
        <li>Sign Out</li>
    </ul>
</aside>
